{% extends 'base.html' %} {% block header %}

<h1 class="center-align">{% block title %}New Article{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">       
        <form class="art-form center-align s6 m4"method="post" enctype="multipart/form-data">
            <label class="text-form" for="title">Title</label>

            <input name="title" id="title"  value="{{ request.form['title'] }}" type="text" required />
            <label class="text-form" for="summary">Summary</label>
            <textarea class="in-box" name="summary" id="summary">{{ request.form['summary'] }}</textarea>

            <label class="text-form" for="img">Image</label>
            <input type="file" name="file"/>
            {{ request.form['img'] }}
            <br>
            <label class="text-form" for="body">Body</label>
            <textarea class="in-box" name="body" id="body">{{ request.form['body'] }}</textarea>
            <input class="btn-small pink accent-3"type="submit" value="Save"/>
        </form>
    </div>    
</div>

{% endblock %}