{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Articles{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('wiki.create') }}">New</a>
{% endif %} {% endblock %} {% block content %}
<ul>
    {% for art in articles %}
    <li>
        <article class="article">
            <header>
                <div>
                    <h2>{{ art['title'] }}</h2>
                    <div class="about">
                        by {{ art['username'] }} on {{ art['created'].strftime('%Y-%m-%d')}}
                    </div>
                </div>
                {% if g.user['id'] == art['author_id']%}
                <a class="action" href="{{ url_for('wiki.update', id=art['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class="body">{{ art['summary'] }}</p>
            <p class="body">{{ art['img'] }}</p>
            <p class="body">{{ art['body'] }}</p>
        </article>
    </li>
    {% endfor %}
</ul>
{% endblock %}