{% extends 'base.html' %} {% block header %}
<h2>{% block title %}Welcome to the Barbie Wiki{% endblock %}</h2>
{% if g.user %}
<!-- Button to add new article -->
<a class="btn-small pink accent-3 action btn-size" href="{{ url_for('wiki.create') }}">Add New Article</a>
{% endif %} {% endblock %} 

{% block content %}
<!-- Card displaying summary of article -->
<div class="row">
    <!-- Iterating through articles -->
  {% for art in articles %}
  <div class="col s6 m3">
    <div class="card">
      <div class="card-image">
        <img height="256" src="{{ url_for('wiki.uploaded_file', filename=art['img']) }}"/>
        <span class="card-title">{{ art['title'] }}</span>
      </div>
      <div class="card-content">
        <p>{{ art['summary'] }}</p>
      </div>
        <!-- Button to take user to full article -->
        <button class="btn-small pink accent-3">
            <a class= "action text-btn" href="{{ url_for('wiki.detail', id=art['id']) }}">
            Detail 
            </a>        
        </button>
        <!-- If author of article, dit button will appear -->
        {% if g.user['id'] == art['author_id']%}
        <a class="btn-small pink accent-3 action right" href="{{ url_for('wiki.update', id=art['id']) }}">Edit</a>
        {% endif %}
      <div>
            Add count of comments!
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}

