{% extends 'base.html' %}

{% block header %}
<h1 class="center-align">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
<form class="art-form center-align s8 m4" method="post">
    <label class="text-form"  for="username">Username</label>
    <input name="username" id="username" required>
    <label class="text-form"  for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input class="btn-small pink accent-3" type="submit" value="Log In">
</form>
</div>
</div>
{% endblock %}